
body{
	margin:0;
	padding:0;
}


#flechas{
	position:fixed;
	z-index:1;
	border-radius: 200px;
	background-color:white;

	opacity:0.5;
	
	width:180px;
	height:180px;
	right:2.5%;
	bottom:2.5%;
}

#flechas:Hover{
	
	opacity:0.9;
}


#galeria div{
  width:100%;
  top:5%;
  left:0px;
  right:0px;
  
  overflow:auto;
}

.home{
  background-color:#0B108C;
  height:15%;

	
}


#arriba{
  position: relative;
  TOP:0px;
  Right:-45px;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-bottom: 45px solid black;
  width: 0;
  height: 0;
}

#derecha{
  position: relative;
  top:-126px;
  right:-135px;
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
  border-left: 45px solid black;
  width: 0;
  height: 0;
}

#izquierda{
  position: relative;
  top:-36px;
  left:-135px;
    border-top: 45px solid transparent;
    border-bottom: 45px solid transparent;
    border-right:45px solid black;
}

#abajo{
  position: absolute;
  right:45;
  top:135;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-top: 45px solid black;
  width: 0;
  height: 0;
}

#barraBusqueda{
	background-color:#0B108C;
}

.buscador input {
	position:relative;
  z-index:1;
  margin:0 auto;
  padding:10px;
  left:2.5%;
  width:40%;

}


.buscador{
	padding:2.5%;
	right:50%;
}


img{
  height:150px;
  width:150px;
  object-fit:cover;
  /*position:absolute;
  TOP:-50px;
  LEFT:-50px;*/
  z-index:-1;

  overflow: hidden;
}

img:hover{
	z-index:0;
	
	
}

button{

  z-index:1;

}
